*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: rgb(192, 95, 95);
    width: 100%;

}
.navlinks ul li{
    color: rgba(14, 19, 66, 0.456);
    list-style: none;
    font-size: 70px;
    text-decoration: none;
    padding: 35px 36px 70px 0px;
    font-weight: 400px;
    text-transform: capitalize;
    margin-left: 100px;
}
.menus{
    display: flex;
    justify-content: center;
}

